//CTA SECTION
.section-cta {
	background: #333;
	color: white;

	.main-action .btn-default {
		background: transparent;
		border: 1px solid #fff !important;

		&:hover {
			background: #fff;
			color: #454545;
		}
	}
}